html {
    font-size: 22px;
  }

  body {
    background-color: #323232;
    color: #cacaca;
  }

  a {
    color: rgb(41, 155, 255);
  }

  a:visited {
    color: rgb(189, 91, 80); 
  }

  a:hover, a:active {
    color: #2f97f2
  }

  table, tr, th, td, caption {
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
  }